.header {
  left: 0px;
}

.header ul {
  display: block;
  margin: 1px 0;
  padding-inline-start: 0;
}

ul > li {
  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  color:rgb(117, 117, 117);
  text-align: center;
}

.calendar {
  border-spacing: 0;
}
